::-webkit-scrollbar {
    display: none
}

* {
margin: 0;
padding: 0;
}

.cube {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    animation: fadein 10s;
    animation: scale 120s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scale {
    from { transform: scale(1); }
    to   { transform: scale(1.2); }
}